--- 
layout: default 
--- 
{% assign no_pagin_pages =  site.pages 
    | where: "home-link", "true" 
    | where_exp: "item", "item.layout != 'posts'" %}
{% assign pagin_pages = site.pages 
    | where_exp: "item", "item.layout == 'posts'" 
    | where_exp: "item", "item.url == '/posts/'" 
    | reverse %}
{% assign cards = no_pagin_pages 
    | concat: pagin_pages
    | sort: "index" %} 
{% assign cards_size = cards | size %} 
{% if cards_size > 5 %}
  {% assign cards_col = "col s12 m6 offset-m0 l3 offset-l0" %} 
{% elsif cards_size > 4 %} 
  {% assign cards_col = "col s12 m6 offset-m0 l3 offset-l0" %} 
{% elsif cards_size > 3 %}
  {% assign cards_col = "col s12 m6 offset-m0 l3 offset-l0" %} 
{% elsif cards_size > 2 %}
  {% assign cards_col = "col s12 m6 offset-m0 l3 offset-l0" %} 
{% else %}
  {% assign cards_col = "col s12" %} 
{% endif %}
<div class="parallax-container">
  <div class="parallax">
    <img srcset="{{ "/assets/img/home/parallax-1-1200.jpg" | relative_url }} 1200w,
                 {{ "/assets/img/home/parallax-1-800.jpg" | relative_url }} 800w,
                 {{ "/assets/img/home/parallax-1-600.jpg" | relative_url }} 600w,
                 {{ "/assets/img/home/parallax-1-400.jpg" | relative_url }} 400w"/>
    <!--img srcset="" src="{{ "/assets/img/home/parallax-1-1200.jpg" | relative_url }}"-->
  </div>
</div>

<div class="section home-section">
  <div class="row container">
    <div class="col s12">
      <h2 class="header center-align home-title">{{ page.page-title }}</h2>
    </div>
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image valign-wrapper home-card-image">
          <img src={{ "/assets/img/home/card.jpg" | relative_url }}>
        </div>
        <div class="card-stacked">
          <div class="card-content md-content">
            {{ content }}
          </div>
          <div class="card-action bottom">
            <h6>
              {{page.contact-message}}
            </h6>
            <a class="center-align" href="#">{{ site.email }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    {% for card in cards %}
    <div class="fixed-height-card {{ cards_col }} hoverable">
      <div class="index-card">
        <a href={{ card.url | relative_url }}>
          <i class="material-icons medium home-icon ">{{ card.icon }}</i>
        </a>
        <p class="index-card-title">{{ card.title }}</p>
        <p class="index-card-desc flow-text">
          {{ card.description }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
      <img srcset="{{ "/assets/img/home/parallax-2-1200.jpg" | relative_url }} 1200w,
      {{ "/assets/img/home/parallax-2-800.jpg" | relative_url }} 800w,
      {{ "/assets/img/home/parallax-2-600.jpg" | relative_url }} 600w,
      {{ "/assets/img/home/parallax-2-400.jpg" | relative_url }} 400w"/>
  </div>
</div>